<form action="/src/routes/apis/sessions.router.js" method="POST">
  <label for="first name">Nombre</label>
  <input type="text" id="first name" placeholder="Ingrese el username" />
  <label for="first name">Apellido</label>
  <input type="text" id="last name" placeholder="Ingrese el username" />
  <label for="first name">Email</label>
  <input type="text" id="email" placeholder="Ingrese el username" />
  <label form="password"> password </label>
  <input type="password" id="password" placeholder="Ingrese el password" />
  <button class="">GITHUB</button>

</form>